@use '../variables/colors';
@use '../variables/durations';
@use '../variables/lengths';
@use '../variables/shadows';

@use '../mixins/focuses';
@use '../mixins/typography';

.button {
  @include focuses.focus-visible(colors.$primary);
  @include typography.button();

  padding: 1em 2em;
  border-radius: lengths.$border-radius;
  box-shadow: shadows.$xs;
  transition: all durations.$normal ease-in-out;
}
