@use '../variables/colors';
@use '../variables/lengths';
@use '../variables/shadows';

@use '../mixins/images';

.stacked-images {
  padding: 4rem;
  position: relative;
  display: grid;
  background-color: colors.$primary;

  &__background-image {
    @include images.make-cover();

    position: absolute;
    opacity: 0.5;
  }

  &__image {
    @include images.make-cover();

    z-index: 1;
    border-radius: lengths.$border-radius;
  }
}
