@use '../mixins/typography';

.testimonial {
  padding: 4rem;
  display: grid;
  grid-auto-rows: min-content;
  align-content: center;
  justify-items: start;

  &__short-heading {
    @include typography.heading-short();

    grid-row: 1 / 2;
    margin-bottom: 1rem;
  }

  &__long-heading {
    @include typography.heading-long();

    font-style: italic;
    grid-row: 2 / 3;
    margin-bottom: 1.5rem;
  }

  &__text {
    @include typography.content-text();

    font-style: italic;
    grid-row: 3 / 4;
    margin-bottom: 2.5rem;
  }
}
