@use '../variables/lengths';

.landing-page {
  display: grid;
  grid-template-columns: min-content 1fr; // sidebar not-sidebar

  .header-and-realtors-container {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) max-content;
    margin-bottom: 10rem;
  }

  .main {
    margin-top: 10rem;
    display: grid;
    justify-items: center;
  }

  .features-section {
    max-width: lengths.$max-width;
    padding-inline: 4rem;
    margin-bottom: 10rem;
  }

  .story-section {
    width: 100%;
    margin-bottom: 12rem;
  }

  .houses-section {
    max-width: lengths.$max-width;
    padding-inline: 4rem;
    margin-bottom: 10rem;
  }

  .gallery-section {
    width: 100%;
  }
}
