@use '../variables/lengths';

.landing-page {
  display: grid;
  grid-template-columns: auto 1fr; // sidebar not-sidebar

  .main {
    display: grid;
    justify-items: center;
  }

  .features-section {
    max-width: lengths.$max-width;
    padding-inline: 4rem;
    margin-bottom: 10rem;
  }

  .story-section {
    width: 100%;
    margin-bottom: 10rem;
  }

  .houses-section {
    max-width: lengths.$max-width;
    padding-inline: 4rem;
    margin-bottom: 10rem;
  }

  .gallery-section {
    width: 100%;
  }
}
