@use '../variables/correlated-breakpoints';
@use '../variables/lengths';

@use '../mixins/paddings';

.landing-page {
  display: grid;
  grid-template-columns: min-content 1fr; // sidebar not-sidebar

  @media (width <= correlated-breakpoints.$sidebar-goes-up) {
    grid-template-columns: unset;
  }

  .header-and-realtors-container {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) max-content;
    margin-bottom: 10rem;

    @media (width <= correlated-breakpoints.$realtors-go-down) {
      grid-template-columns: unset;
    }
  }

  .main {
    margin-top: 10rem;
    display: grid;
    justify-items: center;
  }

  .features-section {
    @include paddings.inline-thick-responsive();

    max-width: lengths.$max-width;
    margin-bottom: 10rem;
  }

  .story-section {
    width: 100%;
    margin-bottom: 12rem;
  }

  .houses-section {
    @include paddings.inline-thick-responsive();

    max-width: lengths.$max-width;
    margin-bottom: 10rem;
  }

  .gallery-section {
    width: 100%;
  }
}
