@use '../mixins/flexes';

.app-container {
  @include flexes.column-center();

  padding: var(--space-around);
}

.app {
  width: 100%;
  max-width: var(--space-max-width);
}

.sidebar-and-main-container {
  @include flexes.row-stretch();
}

.sidebar {
  @include flexes.column();

  justify-content: space-between;
}

.navigation {
  flex: initial;
}

.copyright-text {
  flex: initial;
}

.main {
  flex: auto;
}
