@use '../variables/breakpoints';

@use '../mixins/borders';
@use '../mixins/cards';
@use '../mixins/flexes';

.details {
  @include flexes.row();

  gap: var(--space-column-gap);
  padding: var(--space-around);
  background-color: var(--color-grey--lightest);

  @media (width <= breakpoints.$m) {
    gap: calc(var(--space-column-gap) * 2);
    flex-direction: column;
  }

  @media (width <= breakpoints.$xs) {
    padding-inline: 0;
  }
}

// Left
.description-features-recommend-container {
  @include cards.content();

  flex: 1 1 65%;
}

// Right
.user-reviews-container {
  @include flexes.column-center();

  flex: 1 1 35%;
  gap: var(--space-column-gap);
}

// inside .description-features-recommend-container
.feature-summary {
  @include borders.top-and-bottom();
  padding-block: var(--space-around);
  margin-block: var(--space-around);
}

// inside .user-reviews-container
.user-review-list {
  @include flexes.column();

  gap: var(--space-column-gap);
  width: 100%;
}
