@use 'sass:math';

@use '../variables/breakpoints';

@use '../mixins/borders';
@use '../mixins/flexes';

.header {
  @include borders.bottom();
  @include flexes.row-center();

  justify-content: space-between;
  padding-block: calc(var(--space-around) / 4);
  padding-inline: var(--space-around);
  background-color: var(--color-grey--lightest);

  &__logo {
    height: 2.5rem;
  }
}

.header .search {
  width: calc(50% * 0.875);
  transition: all var(--speed-medium) ease-in-out;

  &:has(:focus-visible) {
    width: 50%;
  }
}

@media (width <= breakpoints.$s) {
  .header {
    flex-wrap: wrap;
    row-gap: calc(var(--space-around) / 4);
  }

  .header .search {
    order: 1;
    margin-inline: calc(var(--space-around) * -1);

    &,
    &:has(:focus-visible) {
      width: calc(100% + var(--space-around) * 2);
    }
  }
}
