@use 'sass:math';

@use '../mixins/borders';
@use '../mixins/flexes';

.header {
  @include borders.bottom();
  @include flexes.row-center();

  justify-content: space-between;
  padding-block: calc(var(--space-around) / 4);
  padding-inline: var(--space-around);
  background-color: var(--color-grey--lightest);

  &__logo {
    height: 2.5rem;
  }
}

.header .search {
  width: calc(50% * 0.875);
  transition: all var(--speed-medium) ease-in-out;

  &:has(:focus-visible) {
    width: 50%;
  }
}
