@use '../variables/breakpoints';

@use '../mixins/flexes';

.sidebar {
  @include flexes.column();

  justify-content: space-between;
  padding-block: var(--space-around);
  background-color: var(--color-grey--darkest);

  @media (width <= breakpoints.$l) {
    padding: 0 var(--space-around);

    .copyright-text {
      display: none;
      visibility: hidden;
    }
  }

  @media (width <= breakpoints.$s) {
    padding: 0;
  }

  @media (width <= breakpoints.$xs) {
    padding-block: calc(var(--space-around) / 4);
  }
}

.navigation {
  flex-basis: auto;
}

.copyright-text {
  flex-basis: auto;
}
