*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  width: auto;
  height: auto;
}

input {
  border: none;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

li {
  display: inherit;
}

img {
  width: auto;
  height: auto;
}
