*,
*::before,
*::after {
  font-family: inherit;
  font-weight: 400;
  line-height: 1;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  width: auto;
  height: auto;
}

input {
  border: none;
}

button {
  display: flex;
  background-color: unset;
  border: none;
  cursor: pointer;
}
