@use 'sass:color';

html {
  font-size: 125%;
  scroll-behavior: smooth;

  @media (width <= 140rem) {
    font-size: 118.75%;
  }

  @media (width <= 120rem) {
    font-size: 112.5%;
  }

  @media (width <= 100rem) {
    font-size: 106.25%;
  }

  @media (width <= 80rem) {
    font-size: 100%;
  }

  @media (width <= 60rem) {
    font-size: 93.75%;
  }

  @media (width <= 40rem) {
    font-size: 87.5%;
  }
}

body {
  background-color: $color-white;
}

@mixin section-background-image-gradient($image-path) {
  height: 125vh;
  @include clip-path;

  background-color: $color-primary;
  background-image: linear-gradient(
      to right bottom,
      color.change($color-primary--light, $alpha: 0.8),
      color.change($color-primary--dark, $alpha: 0.8)
    ),
    url($image-path);
  background-size: cover;
  background-position: center;
}

@mixin background-gradient() {
  background-color: $color-primary;
  background-image: linear-gradient(
    to right bottom,
    color.change($color-primary--light, $alpha: 0.8),
    color.change($color-primary--dark, $alpha: 0.8)
  );
}

@mixin background-image($image-path) {
  background-color: $color-primary;
  background-image: url($image-path);
  background-size: cover;
  background-position: center;
}
