@use 'sass:color';

html {
  /* font-size: 1rem; */
  font-size: clamp(87.5%, 87.5% + 0.25vw, 125%);
}

body {
  background-color: $color-white;
}

@mixin section-background-image-gradient($image-path) {
  height: 125vh;
  @include clip-path;

  background-color: $color-primary;
  background-image: linear-gradient(
      to right bottom,
      color.change($color-primary--light, $alpha: 0.8),
      color.change($color-primary--dark, $alpha: 0.8)
    ),
    url($image-path);
  background-size: cover;
  background-position: center;
}

@mixin background-gradient() {
  background-color: $color-primary;
  background-image: linear-gradient(
    to right bottom,
    color.change($color-primary--light, $alpha: 0.8),
    color.change($color-primary--dark, $alpha: 0.8)
  );
}

@mixin background-image($image-path) {
  background-color: $color-primary;
  background-image: url($image-path);
  background-size: cover;
  background-position: center;
}
