*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  border-bottom: solid max(0.125em, 2px) currentcolor;
  color: inherit;
  cursor: pointer;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

img {
  height: auto;
  width: auto;
}

video {
  height: auto;
  width: auto;
}

ul {
  list-style-type: none;
}

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  border: none;
  padding: 0;
  color: inherit;
}
