body {
  font-family: Lato, sans-serif;
  color: $color-text;
}

%heading {
  font-weight: 700;
  text-transform: uppercase;
}

%gradient-text {
  background-color: $color-primary;
  background-image: linear-gradient(
    to right,
    $color-primary--light,
    $color-primary--dark
  );
  background-clip: text;
  color: transparent;
}

@mixin hero-heading {
  @extend %heading;

  font-size: 3.4rem;
  letter-spacing: 1ch;
  text-align: center;
  color: $color-white;

  &--last-letter {
    letter-spacing: 0;
  }

  &--main,
  &--sub {
    display: block;
  }

  &--main {
    font-size: 4.5rem;
    letter-spacing: 0.8ch;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &--sub {
    font-size: 1.5rem;
    letter-spacing: 1.25ch;
    margin-bottom: 4rem;
  }
}

%section-heading {
  @extend %heading;

  font-size: 2rem;
  letter-spacing: 0.2ch;
  text-align: center;
  @extend %gradient-text;

  margin-bottom: 4rem;
}

%content-heading {
  @extend %heading;

  font-size: 1.125rem;
  margin-bottom: 1rem;
}

%content-text {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 65ch;
  color: $color-text--light;
  @include margin-bottom(2.25rem);
}
