@use 'sass:color';

body {
  font-family: Lato, sans-serif;
  color: $color-text;
}

%heading {
  font-weight: 700;
  text-transform: uppercase;
}

%gradient-text {
  background-color: $color-primary;
  background-image: linear-gradient(
    to right,
    $color-primary--light,
    $color-primary--dark
  );
  background-clip: text;
  color: transparent;
}

@mixin hero-heading {
  @extend %heading;

  font-size: 3.4rem;
  letter-spacing: 1ch;
  text-align: center;
  color: $color-white;

  &--last-letter {
    letter-spacing: 0;
  }

  &--main,
  &--sub {
    display: block;
  }

  &--main {
    font-size: 4.5rem;
    letter-spacing: 0.8ch;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &--sub {
    font-size: 1.5rem;
    letter-spacing: 1.25ch;
    margin-bottom: 4rem;
  }
}

%section-heading {
  @extend %heading;

  font-size: 2.25rem;
  letter-spacing: 0.1ch;
  text-align: center;
  @extend %gradient-text;

  margin-bottom: 4rem;
}

%content-heading {
  @extend %heading;

  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

%content-text {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 65ch;
  color: $color-text--light;
  @include margin-bottom(2.5rem);
}

%small-text {
  font-size: 0.8rem;
}

%content-text-small {
  @extend %content-text;

  font-size: 0.8rem;
  line-height: 1.8;
  @include margin-bottom(2rem);
}

%form-label-text {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 2rem;
  color: $color-text--light;
}

%form-placeholder-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: $color-text--light;
}

%price-text {
  font-size: 5rem;
  letter-spacing: -0.15ch;
  font-weight: 100;
}

@mixin tour-card-heading {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin-bottom: -0.25rem;
  color: $color-white;

  &--primary {
    background-image: linear-gradient(
      to right bottom,
      color.change($color-primary--light, $alpha: 0.8),
      color.change($color-primary--dark, $alpha: 0.8)
    );
  }

  &--secondary {
    background-image: linear-gradient(
      to right bottom,
      color.change($color-secondary--light, $alpha: 0.8),
      color.change($color-secondary--dark, $alpha: 0.8)
    );
  }

  &--tertiary {
    background-image: linear-gradient(
      to right bottom,
      color.change($color-tertiary--light, $alpha: 0.8),
      color.change($color-tertiary--dark, $alpha: 0.8)
    );
  }
}
