@mixin clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin column-gap($gap) {
  &:not(:last-child) {
    margin-right: $gap;
  }
}

@mixin row-gap($gap) {
  &:not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin margin-bottom($margin) {
  &:not(:last-child) {
    margin-bottom: $margin;
  }

  &.force-margin-bottom {
    margin-bottom: $margin;
  }
}

@mixin margin-right($margin) {
  &:not(:last-child) {
    margin-right: $margin;
  }
}

@mixin clip-path {
  clip-path: polygon(
    0 max(10vw, 10vh),
    100% 0,
    100% calc(100% - max(10vw, 10vh)),
    0 100%
  );
}

@mixin clip-path-hero {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - max(10vw, 10vh)), 0 100%);
}

@mixin clip-path-front-card {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - max(5vw, 5vh)), 0 100%);
}

@mixin clip-path-back-card {
  clip-path: polygon(0 max(5vw, 5vh), 100% 0, 100% 100%, 0 100%);
}

@mixin clip-path-inverted {
  clip-path: polygon(
    max(5vw, 5vh) 0,
    100% 0%,
    calc(100% - max(5vw, 5vh)) 100%,
    0% 100%
  );
}
