@mixin clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin column-gap($gap) {
  &:not(:last-child) {
    margin-right: $gap;
  }
}

@mixin row-gap($gap) {
  &:not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin margin-bottom($margin) {
  &:not(:last-child) {
    margin-bottom: $margin;
  }

  &.force-margin-bottom {
    margin-bottom: $margin;
  }
}

@mixin margin-right($margin) {
  &:not(:last-child) {
    margin-right: $margin;
  }
}

@mixin clip-path {
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

@mixin clip-path-inverted {
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}
