$color--primary--light: #7ed56f;
$color--primary: #55c57a;
$color--primary--dark: #28b485;
$color--grey: #808080;

$shadow--xs: 0 0 0.5rem -0.1rem rgba(0, 0, 0, 0.08);
$shadow--s: 0 0 0.8rem -0.16rem rgba(0, 0, 0, 0.1);
$shadow--m: 0 0 1.25rem -0.25rem rgba(0, 0, 0, 0.12);
$shadow--l: 0 0 2rem -0.4rem rgba(0, 0, 0, 0.14);
$shadow--xl: 0 0 2.5rem -0.5rem rgba(0, 0, 0, 0.16);
$shadow--xxl: 0 0 4rem -0.8rem rgba(0, 0, 0, 0.18);
