@use 'sass:color';

.hero {
  position: relative;
  height: calc(100vh - 4rem);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: $color--primary;
  background-image: linear-gradient(
      to right bottom,
      color.adjust($color--primary--light, $alpha: -0.2),
      color.adjust($color--primary--dark, $alpha: -0.2)
    ),
    url(../assets/images/hero.jpg);
  background-size: cover;
  background-position: top;

  &__logo {
    position: absolute;
    font-size: 2.5rem;
    top: 1em;
    left: 1em;
    height: 1em;
  }

  &__headline-and-button-container {
    @extend %position-absolute--center;
    top: 40%;
    text-align: center;
  }

  .button--hero {
    font-size: 1.125rem;
    animation-delay: 0.8s;
    @extend %fade-in;
    animation-name: fade-in--to-up;
  }
}
