@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

@mixin _color {
  color: var(--color-grey--darkest);
}

@mixin _color-light {
  color: var(--color-white);
}

@mixin font-family {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

@mixin content {
  @include _color();

  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

@mixin notification-badge {
  @include _color-light();

  font-size: 0.7rem;
  line-height: 1;
  font-weight: 600;
  background-color: var(--color-primary--light);
}

@mixin username {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  color: var(--color-grey--darker);
}

@mixin navigation {
  font-size: 1.125rem;
  line-height: 1.7;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-grey--light);
}

@mixin copyright {
  font-size: 0.7rem;
  line-height: 1.9;
  font-weight: 400;
  text-align: center;
  color: var(--color-grey);
}
