.button {
  position: relative;
  text-transform: uppercase;
  padding: 1em 2em;
  border-bottom: unset;
  border-radius: 2em;
  color: $color--white;
  background-color: $color--primary;
  @extend %transition--fast;
  @extend %transition--hover-active-translate;
  @extend %transition--hover-active-shadow--s;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: inherit;
    border-radius: inherit;
    @extend %transition--normal;
  }

  &:hover::before {
    scale: 1.25 1.5;
    opacity: 0;
  }

  &--white {
    color: $color--text--lightest;
    background-color: $color--white;
  }
}
