@use 'sass:color';

/** @define feature-card */

.feature-card {
  @extend %card;
  @extend %transition-speed-normal;
  @extend %transition-translate-on-hover;
  @extend %transition-scale-on-hover;
  @extend %transition-shadow-m-on-hover;
  @extend %margin-auto;

  text-align: center;
  max-width: 20rem;
  background-color: color.change($color-white, $alpha: 0.8);

  &__icon {
    font-size: 4rem;
    display: inline-block;
    @extend %gradient-text;

    margin-bottom: 2rem;
  }
}
