@use 'sass:color';

/** @define popup  */
.popup {
  visibility: hidden;

  &__box {
    @extend %position-absolute-center;
    @extend %transition-speed-slow;
    @extend %card;

    position: fixed;
    display: block;
    width: min(90vw, $length-max-width);
    max-height: 90vh;
    z-index: 101;
    padding: 0;
    background-color: $color-white;
    opacity: 0;
    scale: 0;
  }

  &__image-container,
  &__text-container {
    display: table-cell;
    vertical-align: top;
  }

  &__image-container {
    width: 33.3333%;
    height: 50%;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text-container {
    text-align: start;
    width: 66.6667%;
    padding: $length-horizontal-padding * 2;
  }

  &__close-button {
    @extend %transition-speed-fast;

    font-size: 1.25rem;
    position: absolute;
    top: $length-horizontal-padding;
    right: $length-horizontal-padding;
    border: none;

    &:hover {
      color: $color-text--primary--safe;
    }
  }

  .section-heading--popup {
    text-align: start;
  }

  &::after {
    @extend %transition-speed-slow;

    content: '';
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: color.change($color-black, $alpha: 0.25);
    opacity: 0;
    backdrop-filter: blur(0);
  }

  &:target {
    visibility: visible;

    .popup__box {
      opacity: 1;
      scale: 1;
    }

    &::after {
      opacity: 1;
      backdrop-filter: blur(16px);
    }
  }

  @media (width <= $breakpoint-m) {
    &__image-container,
    &__text-container {
      display: block;
    }

    &__image-container {
      width: auto;
      height: unset;
      overflow: hidden;
    }

    &__image {
      display: inline-block;
      width: 49.5%;
      translate: 0 -0.5rem;
      scale: 1.1;
    }

    &__text-container {
      text-align: start;
      width: 100%;
      padding: $length-horizontal-padding * 2;
    }

    &__close-button {
      padding: 1rem;
      background-color: $color-white;
      border-radius: 50%;
      box-shadow: $shadow-s;
    }
  }
}
