/** @define story-card  */

.story-card {
  @extend %margin-auto;
  @extend %card;
  @include clip-path-inverted;
  @include clear-fix;

  background-color: violet;
  width: calc(100% / 1.5);
  padding: $length-horizontal-padding * 2
    calc($length-horizontal-padding * 1.5 + calc(10% / 1.5));

  &__image-container {
    translate: $length-horizontal-padding * -0.5;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    height: 9rem;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
  }

  &__image {
    height: 100%;
  }

  &__image-caption {
  }

  &__text-container {
    translate: $length-horizontal-padding * 0.5;
  }
}
