@use '../variables/colors';
@use '../variables/lengths';

@use '../mixins/paddings';
@use '../mixins/typography';

.footer {
  @include paddings.inline-thick-responsive();

  display: grid;
  justify-items: center;
  background-color: colors.$secondary;
  padding-block: 4rem;

  &__nav {
    max-width: lengths.$max-width;
    margin-bottom: 10rem;
  }

  &__nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 2.5rem;
    column-gap: 4rem;

    @media (width <= 90em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 50em) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .link {
    @include typography.link-footer();

    border-bottom: none;
    margin-bottom: 0;
  }

  &__copyright-text {
    @include typography.text-copyright();
  }
}
