@use '../variables/colors';
@use '../variables/correlated-breakpoints';

@use '../mixins/paddings';
@use '../mixins/typography';

.realtors {
  @include paddings.inline-thick-responsive();

  display: grid;
  justify-items: center;
  padding-block: 4rem;
  background-color: colors.$secondary;

  &__heading {
    @include typography.heading-short();

    align-self: end;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    align-content: start;
    row-gap: 2.5rem;

    @media (70em <= width <= correlated-breakpoints.$realtors-go-down) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5rem;
    }
  }
}
