@use '../variables/colors';
@use '../variables/correlated-breakpoints';
@use '../variables/shadows';

.sidebar {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100dvh;
  padding: 1rem;
  background-color: colors.$primary;

  .navigation-button {
    font-size: 3.4rem;
  }

  @media (width <= correlated-breakpoints.$sidebar-goes-up) {
    height: auto;
    width: 100%;

    .navigation-button {
      margin-left: auto;
    }
  }
}
