@use '../mixins/flexes';
@use '../mixins/focuses';
@use '../mixins/shapes';
@use '../mixins/typography';

.search {
  @include flexes.column-center;

  position: relative;

  &__input,
  &__button {
    transition: all var(--speed-medium) ease-in-out;
  }

  &__input {
    @include typography.content;
    @include focuses.focus-visible(var(--color-grey--darker));

    width: 100%;
    padding: 0.25rem 1.5rem;
    background-color: var(--color-grey--light);
    border-radius: 2rem;

    &::placeholder {
      @include typography.content;
      color: var(--color-grey--darker);
    }
  }

  &__button {
    @include focuses.focus-visible(currentcolor);

    position: absolute;
    right: 0;
    top: 50%;
    translate: -50% -50%;
    color: var(--color-grey--darker);
    border-radius: 50%;
  }

  &__icon {
    @include shapes.circle;

    font-size: 1.5rem;
    fill: currentColor;
  }
}
