@use '../mixins/flexes';
@use '../mixins/focuses';
@use '../mixins/positions';
@use '../mixins/shapes';
@use '../mixins/typography';

.user-navigation {
  @include flexes.row-center();

  column-gap: 1rem;

  &__button {
    @include focuses.focus-visible(currentcolor);

    position: relative;
    color: var(--color-grey--darker);
    padding: 0.75rem;
    background-color: transparent;
    border-radius: 5rem;
    transition: all var(--speed-medium) ease-in-out;

    &:hover {
      background-color: var(--color-grey--light);
    }
  }

  &__notification-badge {
    @include flexes.center();
    @include typography.notification-badge();
    @include positions.absolute-justify();
    @include shapes.circle(1.125rem);

    left: 75%;
  }

  &__button--profile-container {
    @include flexes.row-center();

    column-gap: 0.7rem;
  }

  &__icon {
    @include shapes.square(1.5rem);

    fill: currentColor;
  }

  &__image {
    height: 3rem;
    border-radius: 50%;
  }

  &__username {
    @include typography.username();
  }
}
