/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Parameters */
:root {
  --Light-green: #7ed56f;
  --Medium-green: #55c57a;
  --Dark-green: #28b485;
  --shadow-xs: 0 0 0.5rem -0.1rem rgba(0 0 0 / 0.08);
  --shadow-s: 0 0 0.8rem -0.16rem rgba(0 0 0 / 0.1);
  --shadow-m: 0 0 1.25rem -0.25rem rgba(0 0 0 / 0.12);
  --shadow-l: 0 0 2rem -0.4rem rgba(0 0 0 / 0.14);
  --shadow-xl: 0 0 2.5rem -0.5rem rgba(0 0 0 / 0.16);
  --shadow-xxl: 0 0 4rem -0.8rem rgba(0 0 0 / 0.18);
}

/* Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(0.8rem, 0.8rem + 0.2vw, 1.25rem);
}

body {
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: 0;
}

img {
  height: auto;
  width: auto;
}

/* General Styles */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
  color: #777;
  background-color: #fff;
}

.h1 {
  text-transform: uppercase;
}

a {
  display: inline-block;
  text-decoration: none;
  border-bottom: solid max(0.125em, 2px) currentColor;
  color: inherit;
}

.button {
  position: relative;
  padding: 1em 2em;
  background-color: var(--Medium-green);
  border-bottom: unset;
  text-transform: uppercase;
  border-radius: 2em;
  color: #fff;
  box-shadow: var(--shadow-xs);
  transition: all 0.2s ease;
}
.button.--white {
  color: inherit;
  background-color: #fff;
}
.button::before {
  content: '';
  display: inline-block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: inherit;
  border-radius: inherit;
  transition: all 0.4s ease;
}
.button:hover {
  box-shadow: var(--shadow-m);
  translate: 0 -0.125rem;
}
.button:active {
  box-shadow: var(--shadow-s);
  translate: 0 -0.0625rem;
}
.button:hover::before {
  scale: 1.25 1.5;
  opacity: 0;
}

/* Hero Section */
.hero {
  position: relative;
  height: calc(100vh - 4rem);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: var(--Medium-green);
  background-image: linear-gradient(
      to right bottom,
      rgba(127, 214, 112, 0.8),
      rgba(41, 181, 134, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}

.hero .logo {
  position: absolute;
  font-size: 2.5rem;
  top: 1em;
  left: 1em;
  height: 1em;
}

.hero .headline-and-button-container {
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .headline {
  text-align: center;
  word-spacing: -100%;
  font-weight: 700;
  color: #fff;
}

.hero .headline .main-headline,
.hero .headline .sub-headline {
  display: block;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.hero .headline .main-headline {
  font-size: 4.5rem;
  letter-spacing: 0.8ch;
  margin-bottom: 2rem;
  animation-name: fade-in-to-right;
}

.hero .headline .sub-headline {
  font-size: 1.5rem;
  letter-spacing: 1.25ch;
  margin-bottom: 4rem;
  animation-name: fade-in-to-left;
}

.hero .button {
  font-size: 1.125rem;
  animation-delay: 0.8s;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-name: fade-in-to-up;
}

@keyframes fade-in-to-right {
  0% {
    opacity: 0;
    translate: -4rem;
  }
  80% {
    translate: 0.125rem;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fade-in-to-left {
  0% {
    opacity: 0;
    translate: 4rem;
  }
  80% {
    translate: -0.125rem;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fade-in-to-up {
  0% {
    opacity: 0;
    translate: 0 2rem;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
