/* 
Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/

$primary-light: #ff3366;
$primary: #eb2f64;
$primary-dark: #ba265d;

$grey-lightest: #faf9f9;
$grey-lighter: #f4f2f2;
$grey-light: #f0eeee;
$grey: #ccc;
$grey-dark: #999;
$grey-darker: #666;
$grey-darkest: #333;

$white: #fff;
