@use 'sass:color';

.hero-section {
  margin-bottom: 8rem;
}

.about-section {
  @extend %section;

  margin-bottom: 10rem;

  @media (width <= $breakpoint-m) {
    ul {
      text-align: center;
    }

    li:not(:last-child) {
      display: inline-block;
    }
  }
}

.features-section-container {
  position: relative;
  @include section-background-image-gradient('../assets/images/nat-4.jpg');

  padding-top: 20%;
  padding-bottom: 20%;
  margin-bottom: 10rem;
}

.features-section {
  @extend %section;
}

.tours-section {
  @extend %section;

  text-align: center;

  .tour-card {
    margin-bottom: 3.4rem;
  }

  margin-bottom: 12rem;
}

.stories-section-container {
  position: relative;
  overflow-x: hidden;
}

.stories-section {
  @extend %section;

  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;

  .anchor {
    @extend %margin-auto;

    margin-top: 6rem;
  }
}

.booking-section-container {
  @include background-gradient;

  padding-top: 12rem;
  padding-bottom: 12rem;
}

.booking-section {
  @extend %card;
  @extend %section;
  @include half-background-image('../assets/images/nat-10.jpg');

  .section-heading {
    margin-bottom: 2rem;
  }

  .form {
    width: 50%;
  }

  @media (width <= $breakpoint-m) {
    max-width: 40rem;

    .form {
      width: 100%;
    }

    .grid__column.grid__column.grid__column.grid__column.grid__column {
      margin-bottom: 0;
    }

    .button {
      margin-top: 2.5rem;
    }
  }
}

.footer-section-container {
  background-color: color.change($color-grey, $lightness: 20%);
}

.footer-section {
  @extend %section;

  padding-top: 8rem;
  padding-bottom: 10rem;
}
