.hero-section {
  margin-bottom: 8rem;
}

.about-section {
  @extend %section;

  margin-bottom: 10rem;
}

.features-section-container {
  position: relative;
  @include section-background-image-gradient('../assets/images/nat-4.jpg');

  margin-bottom: 10rem;
}

.features-section {
  @extend %position-absolute-center;
  @extend %section;
}

.tours-section {
  @extend %section;

  text-align: center;

  .tour-card {
    margin-bottom: 3.4rem;
  }

  margin-bottom: 12rem;
}

.stories-section-container {
  background-color: whitesmoke;
}

.stories-section {
  @extend %section;

  margin-bottom: 12rem;

  .anchor {
    @extend %margin-auto;
  }
}
