@use 'sass:color';

.hero-section {
  margin-bottom: 8rem;
}

.about-section {
  @extend %section;

  margin-bottom: 10rem;
}

.features-section-container {
  position: relative;
  @include section-background-image-gradient('../assets/images/nat-4.jpg');

  margin-bottom: 10rem;
}

.features-section {
  @extend %position-absolute-center;
  @extend %section;
}

.tours-section {
  @extend %section;

  text-align: center;

  .tour-card {
    margin-bottom: 3.4rem;
  }

  margin-bottom: 12rem;
}

.stories-section-container {
  position: relative;
  overflow-x: hidden;
}

.stories-section {
  @extend %section;

  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;

  .anchor {
    @extend %margin-auto;

    margin-top: 6rem;
  }
}

.booking-section-container {
  @include background-gradient;

  padding-top: 12rem;
  padding-bottom: 12rem;
}

.booking-section {
  @extend %section;
  @extend %card;
  @include background-image('../assets/images/nat-10.jpg');

  background-image: linear-gradient(
      105deg,
      color.change($color-white, $alpha: 0.8) 0%,
      color.change($color-white, $alpha: 0.8) 50%,
      transparent 50%,
      transparent 100%
    ),
    url('../assets/images/nat-10.jpg');

  .section-heading {
    margin-bottom: 2rem;
  }

  .form {
    width: 80%;
  }

  /* .button {
    font-size: 1rem;
  } */
}
